{% macro input(name, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ name }}"> {{ label }}</label>
        <input placeholder="{{ value }}" value="{{value}}" type="{{ name == 'email' ? 'email' : 'text' }}" class="form-control" id="{{ name }}" name="{{ name }}">
        <p class="help-block">{{options.helpblock}}</p>
    </div>
{% endmacro %}

{% macro textarea(name, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ name }}"> {{ label }}</label>
        <textarea type="text" class="form-control" id="{{ name }}" name="{{ name }}">{{value}}</textarea>
        <p class="help-block">{{options.helpblock}}</p>
    </div>
{% endmacro %}

{% macro workflow(value = null) %}
    <div class="form-group">
        <label for="workflow"> Workflow</label>
        <select name="workflownumber" class="form-control">
            <option value="1" {% if value == 1 %}selected{% endif %} >1: 14 days warranty Consumer/(small) Business</option>
            <option value="2" {% if value == 2 %}selected{% endif %} >2: 14 days business</option>
            <option value="3" {% if value == 3 %}selected{% endif %} >3: No warranty</option>
        </select>
    </div>
{% endmacro %}

